<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User profile</title>
</head>
<body>
  <ul class="user-list">
    <li class="user-attribute">
      id: {{user.id}}
    </li>
    <li class="user-attribute">
      username: {{user.username}}
    </li>
    <li class="user-attribute">
      email: {{user.email}}
    </li>
    <p> LISTS OF POKEMON</p>
      {{#each pokemon}}
    <li>{{this.name}}</li>
      {{/each}}
  </ul>
</body>
</html>
